
.readmore{
  position: relative;
  box-sizing: border-box;
  /*以下お好み*/
  /* ボーダーを付ける場合 */
  border-radius: 8px;
  background-color: $cWhite;
  border: 1px solid $cWhite;

}

.readmore-content{
  position: relative;
  overflow: hidden;
  /*以下お好み*/
  /*高さの初期値*/
  padding: 16px;
  height: 220px;
  color: $cBlack;
  background-color: $cWhite;
}
.readmore-content::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  /*以下お好み グラデーションの色と高さ 高さはreadmoreのheight以下にすること*/
  height: 220px;
  background: linear-gradient(180deg, #FFFFFF 15.1%, rgba(255, 255, 255, 0) 61.98%);
  transform: rotate(-180deg);
}

/* 続きを読むボタン */
.readmore-label{
  display: table;
  bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 0 auto;
  z-index: 2;
  padding: 0 16px;
  font-weight: bold;
  font-size: 12px;
  color: $cBlue;
}
.readmore-label:before{
  content: 'もっと見る';
}

.readmore-check{
  display: none;
}
/*チェック時にボタンを非表示*/
.readmore-check:checked ~ .readmore-label{
  position: static;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  /* 「続きを読む」を押した後、元に戻す必要がない場合は、上のオプションを消してこの1行だけにする */
  /* display: none; */
}
.readmore-check:checked ~ .readmore-label:before{
  content: '閉じる';
  
}
/*チェック時に高さを自動に戻す*/
.readmore-check:checked ~ .readmore-content{
  height: auto;
}
/*チェック時グラデーション等を削除*/
.readmore-check:checked ~ .readmore-content::before {
  display: none;
}