$cWhite: #ffffff;
$cBlack: #282C39;
$cBlue: #188FFD;
$cRed: #E11168;
$cBlack50: #EDEDF5;
$cBlack600: #5D657D;
$cWhite50: #E5E5E5;
$cGray: #333333;
$contentMaxWidth: 960px;
// ---------------------------------
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
